*.class
*.jar
*.war
*.ear
.idea/
*.iml
*.eml
*.pmd
target/
*~
*.classpath
*.project
*.settings
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
*.pyc
.vagrant
*.swp
.vscode

/build.log
/git.log
/steve.patch
/stats.txt
test-output/
velocity.log
data/*
common/data/*
/bin/
migration/lib/liquibase/*
common/src/test/java/META-INF
common/src/main/java/com/cisco/wx2/atlas/common/avro
server/src/main/resources/com/cisco/wx2/server/atlas/db.changelog.xml
server/src/main/resources/db.datachangelog.xml
server/src/main/resources/federation_data.csv
migration/postgres/src/main/resources/db.changelog.xml
migration/postgres/src/main/resources/db.datachangelog.xml
migration/postgres/src/main/resources/initial-atlas.changelog.xml
migration/postgres/src/main/resources/federation_data.csv
.metadata/.plugins/org.eclipse.jdt.core/105083225.index
.metadata/.plugins/org.eclipse.jdt.core/1085618028.index
.metadata/.plugins/org.eclipse.jdt.core/1090815210.index
.metadata/.plugins/org.eclipse.jdt.core/1182682460.index
.metadata/.plugins/org.eclipse.jdt.core/1198311845.index
.metadata/.plugins/org.eclipse.jdt.core/1217613057.index
.metadata/.plugins/org.eclipse.jdt.core/1239804025.index
.metadata/.plugins/org.eclipse.jdt.core/1294589784.index
.metadata/.plugins/org.eclipse.jdt.core/1304059106.index
.metadata/.plugins/org.eclipse.jdt.core/130985341.index
.metadata/.plugins/org.eclipse.jdt.core/1354355735.index
.metadata/.plugins/org.eclipse.jdt.core/1392089624.index
.metadata/.plugins/org.eclipse.jdt.core/1394720044.index
.metadata/.plugins/org.eclipse.jdt.core/1402098551.index
.metadata/.plugins/org.eclipse.jdt.core/1483741111.index
.metadata/.plugins/org.eclipse.jdt.core/1487676246.index
.metadata/.plugins/org.eclipse.jdt.core/1496308457.index
.metadata/.plugins/org.eclipse.jdt.core/153605758.index
.metadata/.plugins/org.eclipse.jdt.core/1555155759.index
.metadata/.plugins/org.eclipse.jdt.core/1599413382.index
.metadata/.plugins/org.eclipse.jdt.core/1620764657.index
.metadata/.plugins/org.eclipse.jdt.core/1621034354.index
.metadata/.plugins/org.eclipse.jdt.core/1747670262.index
.metadata/.plugins/org.eclipse.jdt.core/1751427763.index
.metadata/.plugins/org.eclipse.jdt.core/1765226463.index
.metadata/.plugins/org.eclipse.jdt.core/1832453262.index
.metadata/.plugins/org.eclipse.jdt.core/1905950902.index
.metadata/.plugins/org.eclipse.jdt.core/1924593204.index
.metadata/.plugins/org.eclipse.jdt.core/1965373298.index
.metadata/.plugins/org.eclipse.jdt.core/1976238117.index
.metadata/.plugins/org.eclipse.jdt.core/2082441169.index
.metadata/.plugins/org.eclipse.jdt.core/2110796749.index
.metadata/.plugins/org.eclipse.jdt.core/2124205432.index
.metadata/.plugins/org.eclipse.jdt.core/2145392552.index
.metadata/.plugins/org.eclipse.jdt.core/2147654440.index
.metadata/.plugins/org.eclipse.jdt.core/2153170608.index
.metadata/.plugins/org.eclipse.jdt.core/2204794588.index
.metadata/.plugins/org.eclipse.jdt.core/2210055122.index
.metadata/.plugins/org.eclipse.jdt.core/2261427711.index
.metadata/.plugins/org.eclipse.jdt.core/2277151681.index
.metadata/.plugins/org.eclipse.jdt.core/2302601264.index
.metadata/.plugins/org.eclipse.jdt.core/2324756315.index
.metadata/.plugins/org.eclipse.jdt.core/233737747.index
.metadata/.plugins/org.eclipse.jdt.core/2475617804.index
.metadata/.plugins/org.eclipse.jdt.core/2487830757.index
.metadata/.plugins/org.eclipse.jdt.core/2500242944.index
.metadata/.plugins/org.eclipse.jdt.core/2520644979.index
.metadata/.plugins/org.eclipse.jdt.core/2527826784.index
.metadata/.plugins/org.eclipse.jdt.core/2530244913.index
.metadata/.plugins/org.eclipse.jdt.core/2570122101.index
.metadata/.plugins/org.eclipse.jdt.core/2570821590.index
.metadata/.plugins/org.eclipse.jdt.core/26089418.index
.metadata/.plugins/org.eclipse.jdt.core/2682003785.index
.metadata/.plugins/org.eclipse.jdt.core/2730372404.index
.metadata/.plugins/org.eclipse.jdt.core/2761291092.index
.metadata/.plugins/org.eclipse.jdt.core/2778437155.index
.metadata/.plugins/org.eclipse.jdt.core/2928120761.index
.metadata/.plugins/org.eclipse.jdt.core/2931452205.index
.metadata/.plugins/org.eclipse.jdt.core/2938340655.index
.metadata/.plugins/org.eclipse.jdt.core/297035191.index
.metadata/.plugins/org.eclipse.jdt.core/3044011211.index
.metadata/.plugins/org.eclipse.jdt.core/3258089922.index
.metadata/.plugins/org.eclipse.jdt.core/3302459638.index
.metadata/.plugins/org.eclipse.jdt.core/3303592607.index
.metadata/.plugins/org.eclipse.jdt.core/3420807603.index
.metadata/.plugins/org.eclipse.jdt.core/3499705784.index
.metadata/.plugins/org.eclipse.jdt.core/3599753969.index
.metadata/.plugins/org.eclipse.jdt.core/3603261841.index
.metadata/.plugins/org.eclipse.jdt.core/3613754804.index
.metadata/.plugins/org.eclipse.jdt.core/3627676354.index
.metadata/.plugins/org.eclipse.jdt.core/363871209.index
.metadata/.plugins/org.eclipse.jdt.core/3720858988.index
.metadata/.plugins/org.eclipse.jdt.core/3751150540.index
.metadata/.plugins/org.eclipse.jdt.core/3768453675.index
.metadata/.plugins/org.eclipse.jdt.core/3817330776.index
.metadata/.plugins/org.eclipse.jdt.core/382564808.index
.metadata/.plugins/org.eclipse.jdt.core/3909752015.index
.metadata/.plugins/org.eclipse.jdt.core/3950796035.index
.metadata/.plugins/org.eclipse.jdt.core/4068747448.index
.metadata/.plugins/org.eclipse.jdt.core/4079730835.index
.metadata/.plugins/org.eclipse.jdt.core/4124131443.index
.metadata/.plugins/org.eclipse.jdt.core/4192676738.index
.metadata/.plugins/org.eclipse.jdt.core/4199049639.index
.metadata/.plugins/org.eclipse.jdt.core/4287759634.index
.metadata/.plugins/org.eclipse.jdt.core/4291922697.index
.metadata/.plugins/org.eclipse.jdt.core/551939790.index
.metadata/.plugins/org.eclipse.jdt.core/586548472.index
.metadata/.plugins/org.eclipse.jdt.core/592689897.index
.metadata/.plugins/org.eclipse.jdt.core/710964690.index
.metadata/.plugins/org.eclipse.jdt.core/716493423.index
.metadata/.plugins/org.eclipse.jdt.core/740408818.index
.metadata/.plugins/org.eclipse.jdt.core/799544731.index
.metadata/.plugins/org.eclipse.jdt.core/802178022.index
.metadata/.plugins/org.eclipse.jdt.core/817313772.index
.metadata/.plugins/org.eclipse.jdt.core/998207889.index
.metadata/*
web.xml
*.log
